<div
    class="w-full h-50 bg-secondary text-header-accent flex justify-around items-center bottom-0 overflow-hidden shadow-top-lg">
    <div class="flex flex-col">
        <p class="text-xl font-extrabold">
            Kleierbal BV
        </p>
        <p>
            Muntinghlaan 3
        </p>
        <p>
            9727 JT Groningen
        </p>
        <p>
            KvK: 04086094
        </p>
    </div>
    <div class="flex justify-center items-center text-3xl">
        <div class="flex">
            <p>All rights reserved</p>
        </div>
        <img src="./src/img/logo.svg" alt="" class="w-80">
    </div>
</div>