@import "tailwindcss";

@theme {
  --color-secondary: #6F1211;
  --color-primary: #325832;
  --color-header-accent: #E4BF9A;
  --color-secondary-gradient: #C00E0C;
  --color-primary-gradient: #4F8E54;


  --font-family-primary: Poppins, system-ui, sans-serif;
  --font-family-heading: Futura, Georgia, serif;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: var(--font-family-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

.font-heading {
  font-family: var(--font-family-heading);
}

.outl {
  border: solid 2px cyan;
}

.shadow-top-lg {
  box-shadow: 0 -10px 15px -3px rgb(0 0 0 / 0.1), 0 -4px 6px -4px rgb(0 0 0 / 0.1);
}